<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">ltwnhom14</property>
        <property name="hibernate.connection.password">KjGZZ1qyu1RbLDZpJgekrRNPSYPYX4Bl</property>
        <property name="hibernate.connection.url">jdbc:postgresql://dpg-ce7vreirrk0b5mto8do0-a.singapore-postgres.render.com:5432/ltwnhom14</property>


        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
 
 
        <!-- Annotated entity classes -->
        <!--mapping class="com.mycompany.nhom14.cuoiky.entities.Category"></mapping-->

    </session-factory>
</hibernate-configuration>